<<<<<<< HEAD
<h1>All Races</h1>
<ul>
  <% @races.each do |race| %>
    <li><%= link_to race.length, race_path(race) %></li>
  <% end  %>
</ul>

<%= button_to "Runners Index", runners_path, method: :get %>
=======
<div class="m-5">
  <h1 class="text-center">Available Races</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Length</th>
        <th scope="col">Created By</th>
        <th scope="col">Expires</th>
        <th scope="col">Participants</th>
      </tr>
    </thead>
    <tbody>
      <% @races.each do |race| %>
        <tr>
          <td><%= link_to race.length, race_path(race) %></td>
          <td> TK </td>
          <td><%= race.expiration_date.strftime("%m/%d/%Y") %></td>
          <td><%= race.registrations.length %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
>>>>>>> b0605239897e6258039b2ef621dd437d0a6b498d
