<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>New Race</h1>
      <%= bootstrap_form_for @race do |f| %>
        <%= f.text_field :race_type %>
        <%= f.text_field :length %>
        <%= f.number_field :elevation_increase %>
        <%= f.number_field :elevation_decrease %>
        <%= f.date_field :expiration_date, label: "Expires" %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>