<h1>Race details:</h1>
<ul>
  <li>Type: <%= @race.race_type %></li>
  <li>Length: <%= @race.length %></li>
  <li>Elevation increase: <%= @race.elevation_increase %></li>
  <li>Elevation decrease: <%= @race.elevation_decrease %></li>
  <li>Expires: <%= @race.expiration_date %></li>
</ul>

<!-- IT WORKS! I mean, we need some message to confirm the signup but it works! -->
<%= button_to "Sign up for this race", registrations_path, method: :post, params: { :registration => {:race_id => @race.id, :runner_id => session[:runner_id] } }%>

<%= button_to "Delete Race", race_path(@race), {method: :delete, data: {confirm: "Are you sure you want to delete this race?"}} %>
