<h1>Create Account</h1>

<%= form_for @runner do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="form-group">  
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">  
    <%= f.label :password %> 
    <%= f.password_field :password %> 
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  <div class="form-group form-check">
    <%= f.label :gender %> <!-- might make this some kind of m/f/other dropdown -->
    <%= f.radio_button :gender, "male" %>
    <%= f.radio_button :gender, "female" %>
    <%= f.radio_button :gender, "other" %>
  </div>
  <div class="form-group">
    <%= f.label "What is your fastest 5K time?" %>
    <%= f.number_field :five_k_mins %> minutes <%= f.number_field :five_k_secs %> seconds 
  </div>
  <%= f.submit %>

<% end %>