<%# canni -> added this to show who you're logged in as%>
<%# A -- changed so it only shows up if you're viewing your own profile %>

<% if @runner.id == @current_user.id %>
  <h1>Hi, <%= @current_user.name %>! </h1>
<% end %>

<h1><%= @runner.name %></h1>
Details:
<ul>
  <li>Username: <%= @runner.username %></li>
  <li>Email: <%= @runner.email %></li>
  <li>Age: <%= @runner.age %></li>
  <li>Gender: <%= @runner.gender %></li>
  <li>Level: <%= @runner.rank_category.name %></li>
  <li>Points: <%= @runner.points %></li>
</ul>

<%# Updating finish time and complete works%>

<% @runner.registrations.each do |registration| %> 
    <% if registration.completed %>
      <b><%= "Completed"  %></b>
    <%= registration.finish_time_mins %>minutes <%= registration.finish_time_secs %>seconds
    <%= registration.race.length%>
    <%= link_to "Edit race", edit_registration_path(registration) %>
    <% else%><br>
   <div><%= registration.race.length %> 
    <%= link_to "Edit race", edit_registration_path(registration) %></div>
    
   <% end %>
<% end%>


<h3><%= @runner.name %> is friends with:</h3>
<% @runner.friends.each do |friend| %>
  <%= friend.name %><br>
<% end %>

<% if !@current_user.friends.include?(@runner) && @current_user != @runner %>
  <%= button_to "Add As Friend", friendships_path, method: :post, params: { :friendship => {:friend_id => @runner.id } } %>
<% end %>

<% if @current_user.friends.include?(@runner) %>
  <%= button_to "Unfriend", friendship_path(@runner), {method: :delete, params: { :friendship => {:friend_id => @runner.id}}, data: {confirm: "Are you sure you want to unfriend #{@runner.name}?"}} %>
<% end %>

<% if flash[:success] %>
  <h1><%= flash[:success] %></h1>
<% end %>

<% if @runner.id == @current_user.id %>
  <%= link_to "Edit Profile", edit_runner_path(@runner)  %>
  <%= button_to "Delete Account", runner_path(@runner), {method: :delete, data: {confirm: "Are you sure you want to delete your account?"}} %>
<% end %>