<div class="d-flex w-100">
  <!-- 100% of width: row. start of first 50%: img. start of second 50%: name/category/points-->
  <div class="d-flex w-50">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" class="rounded mx-auto">
  </div>
  <div class="d-flex flex-column justify-content-end w-50">
    <h1><%= @runner.name %></h1>
    <p>
      <span class="font-weight-bold">Level: <%= @runner.rank_category.name.capitalize %></span><br>
      Points: <%= @runner.points %>
    </p>
  </div>
</div>

<!-- 100% of width: row. first 1/2: info. second 1/2: races/friends tabs -->
<div class="d-flex w-100">
  <div class="d-flex w-50 px-5">
    <!-- info columns go here -->
    <div class="d-flex flex-column w-25">
      
    </div>
    <div class="d-flex flex-column w-50">
    <table class="table">
      <tr>
        <th scope="row">Username</th>
        <td><%= @runner.username %></td>
      </tr>
      <tr>
        <th scope="row">Email</th>
        <td><%= @runner.email %></td>
      </tr>
      <tr>
        <th scope="row">Age</th>
        <td><%= @runner.age %></td>
      </tr>
      <tr>
        <th scope="row">Gender</th>
        <td><%= @runner.gender %></td>
      </tr>
    </table>
    </div>
    <div class="d-flex flex-column w-25">
      
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="races-tab" data-toggle="tab" href="#races" role="tab" aria-controls="races" aria-selected="true">Races</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false">Friends</a>
      </li>
    </ul>
    </div>
    <div class="tab-content profile-tab" id="myTabContent">
      <div class="tab-pane fade show active" id="races" role="tabpanel" aria-labelledby="races">
        <!-- probably want a row on the top for labels and then columns for items? -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Length</th>
              <th scope="col">Expires</th>
              <th scope="col">Completed?</th>
              <th scope="col">Finish Time</th>
            </tr>
          </thead>
          <tbody>
            <% @runner.races.each do |race| %>
              <tr>
                <td><%= race.length %></td>
                <td><%= race.expiration_date %></td>
                <td><%= race.registrations.find_by(runner_id: @runner.id).completed %></td>
                <td><%= race.registrations.find_by(runner_id: @runner.id).finish_time %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends"> 
        <table class="table">
          <% @runner.friends.each do |friend| %>
            <tr>
              <td><%= link_to friend.name, runner_path(friend) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>



    



<!--

<% if @runner.id == @current_user.id %>
  <h1>Hi, <%= @current_user.name %>! </h1>
<% end %>

<h1><%= @runner.name %></h1>
Details:
<ul>
  <li>Username: <%= @runner.username %></li>
  <li>Email: <%= @runner.email %></li>
  <li>Age: <%= @runner.age %></li>
  <li>Gender: <%= @runner.gender %></li>
  <li>Level: <%= @runner.rank_category.name %></li>
  <li>Points: <%= @runner.points %></li>
</ul> -->

<!-- 
<% Updating finish time and complete works%>

<% @runner.registrations.each do |registration| %> 
    <% if registration.completed %>
      <b><%= "Completed"  %></b>
    <%= registration.finish_time_mins %>minutes <%= registration.finish_time_secs %>seconds
    <%= registration.race.length%>
    <%= link_to "Edit race", edit_registration_path(registration) %>
    <% else%><br>
   <div><%= registration.race.length %> 
    <%= link_to "Edit race", edit_registration_path(registration) %></div>
    
   <% end %>
<% end%>
-->


<%# canni -> added link_to and link to edit registration form where you can input finish time and change to complete, still working on it%>
<!--  final version of this: race.length itself should link to the race show page
      can have a button next to it for removing yourself from the race, IF IT'S YOUR OWN PROFILE ONLY -->

<!--
<% @runner.races.each do |race| %> 
  <%= link_to race.length, edit_registration_path %><br> 
<% end %>


<h3><%= @runner.name %> is friends with:</h3>
<% @runner.friends.each do |friend| %>
  <%= friend.name %><br>
<% end %>

<% if !@current_user.friends.include?(@runner) && @current_user != @runner %>
  <%= button_to "Add As Friend", friendships_path, method: :post, params: { :friendship => {:friend_id => @runner.id } } %>
<% end %>

<% if @current_user.friends.include?(@runner) %>
  <%= button_to "Unfriend", friendship_path(@runner), {method: :delete, params: { :friendship => {:friend_id => @runner.id}}, data: {confirm: "Are you sure you want to unfriend #{@runner.name}?"}} %>
<% end %>

<% if flash[:success] %>
  <h1><%= flash[:success] %></h1>
<% end %>

<% if @runner.id == @current_user.id %>
  <%= link_to "Edit Profile", edit_runner_path(@runner)  %>
  <%= button_to "Delete Account", runner_path(@runner), {method: :delete, data: {confirm: "Are you sure you want to delete your account?"}} %>
<% end %>

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            <%= @runner.name %>
          </h5>
          <h6>
            Level: <%= @runner.rank_category.name %>
          </h6>
          <p class="proile-rating">Points: <span><%= @runner.points %></span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Races</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Friends</a>
            </li>
          </ul>
         </div>
        </div>
        -->
        <!-- ADD IF STATEMENT TO MAKE SURE ONLY EDITABLE IF IT'S YOUR PROFILE -->
        <!--
        <div class="col-md-2">
          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
        </div>
      </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-4">
            <label>Username</label>
          </div>
          <div class="col-md-8">
            <p><%= @runner.username %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Email</label>
          </div>
          <div class="col-md-8">
            <p><%= @runner.email %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Name</label>
          </div>
          <div class="col-md-8">
            <p><%= @runner.name %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Age</label>
          </div>
          <div class="col-md-8">
            <p><%= @runner.age %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label>Gender</label>
          </div>
          <div class="col-md-8">
            <p><%= @runner.gender %></p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          -->
            <!-- figure out a way to add labels to this -->
            <!--
            <% @runner.races.each do |race| %>
              <div class= "row">
                <div class="col-md-6">
                  <%= link_to race.length, race_path(race) %>
                </div>
                <div class="col-md-6">
                  <%= race.registrations.find_by(runner_id: @runner.id).finish_time %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          -->
            <!-- could make this its own grid or something, maybe with their profile pictures on top -->
            <!--
            <% @runner.friends.each do |friend| %>
              <div class="row">
                <%= link_to friend.name, runner_path(friend) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </form>           
</div>
-->
