<h1> Input your completed race stats: </h1>

<%= form_for @registration do |f| %>

  <%= f.label :completed %>
  <%= f.check_box :completed %><br>

  <%= f.label "Your finish time" %>
  <%= f.number_field :finish_time_mins %>minutes <%=f.number_field :finish_time_secs%> seconds <br>


  <%= f.submit %>
<% end %>